<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>&title;</title>
    <link rel="stylesheet" href="/OpenForum/PageTemplates/Frameworks/Foundation/css/foundation.css" />
    <script src="/OpenForum/PageTemplates/Frameworks/Foundation/js/vendor/modernizr.js"></script>
	<script type="text/javascript" src="/OpenForum/Javascript/open-forum.js"></script>
	<script type="text/javascript" src="/&pageName;/page.js"></script>

	<script>
		var pageName = "&pageName;";
		var author = "&author;";
		var time = "&time;";
	    var currentUser = "";
	    JSON.get("/OpenForum/Actions/User","getCurrentUser").onSuccess( function (response) {  currentUser = response;  } ).go();
	</script>
    
  </head>
  <body>
          <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              <img src="/OpenForum/Images/open-forum-dog-small.png" />
            </h1>
          </li>
        </ul>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="[{Hash}]">&title;</a>
            </h1>
          </li>
        </ul>
&insert:/OpenForum/PageTemplates/PublishedPage/TopMenu/page.content;
      </nav>
[{CrumbTrail}]
    
    <div class="row">
    <!--PageContent Start-->&content;<!--Page Content End-->
    </div>
      
&insert:/OpenForum/PageTemplates/PublishedPage/Footer/page.content;
    
    <script src="/OpenForum/PageTemplates/Frameworks/Foundation/js/vendor/jquery.js"></script>
    <script src="/OpenForum/PageTemplates/Frameworks/Foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
