.CodeMirror {
  border-top: 1px solid black; 
  border-bottom: 1px solid black;
}

.CodeMirror-matchingtag { 
  background: rgba(255, 150, 0, .3); 
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}


.styled-background { background-color: #000000; border: solid 1px; }
.styled-error-background { background-color: #000000; border: solid 1px red; }