<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Page Editor</title>
    <link rel="stylesheet" href="/OpenForum/PageTemplates/Frameworks/Foundation/css/foundation.css" />
    <link rel="stylesheet" href="/OpenForum/Javascript/CodeMirror/lib/codemirror.css"/>
    <link rel="stylesheet" href="/OpenForum/Javascript/CodeMirror/addon/hint/show-hint.css"/>
    <link rel="stylesheet" href="/OpenForum/Javascript/CodeMirror/addon/lint/lint.css"/>
    <link rel="stylesheet" href="/OpenForum/Javascript/CodeMirror/addon/dialog/dialog.css"/>
    <link rel="stylesheet" href="/OpenForum/Editor/code-mirror.css"/>
    <link rel="stylesheet" href="/OpenForum/Javascript/CodeMirror/addon/display/fullscreen.css"/>
    
    <script type="text/javascript" src="/OpenForum/PageTemplates/Frameworks/Foundation/js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="/OpenForum/Javascript/open-forum.js"></script>
    <script type="text/javascript" src="/OpenForum/Javascript/CodeMirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="/OpenForum/Javascript/open-forum.js"></script>
    
    <script type="text/javascript" src="/OpenForum/Editor/page.js"></script>
    <script type="text/javascript" src="/OpenForum/Editor/attachments.js"></script>
    <script type="text/javascript" src="/OpenForum/Editor/editors.js"></script>
    <script type="text/javascript" src="/OpenForum/Editor/plugins.js"></script>
    <script type="text/javascript" src="/OpenForum/Editor/tabs.js"></script>
    <script type="text/javascript" src="/OpenForum/Editor/drag-and-drop.js"></script>

    <script>
      var pageName = "&pageName;";
      var author = "&author;";
      var time = "&time;";
      var currentUser = "";
      JSON.get("/OpenForum/Actions/User","getCurrentUser").onSuccess( function (response) {  currentUser = response;  } ).go();
    </script>

  </head>
  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar="true">
        <ul class="title-area">
          <li class="name">
            <h1>
              <img src="/OpenForum/Images/open-forum-dog-small.png" />
            </h1>
          </li>
        </ul>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="[{Hash}]">Page Editor - Editing {{pageName}}</a>
            </h1>
          </li>
        </ul>
        &insert:/OpenForum/Editor/top-menu.html.template;
      </nav>
      
      <nav class="top-bar" data-topbar role="navigation">
        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            <li  of-repeatFor="editor in editorList" id="editor-tab-{{editor.id}}" class="{{editor.tabButtonStyle}}"><a href="[{Hash}]" onclick="showTab('{{editor.id}}'); return false;">{{editor.name}}{{editor.changed}}</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <!--PageContent Start-->&content;<!--Page Content End-->

    &insert:/OpenForum/PageTemplates/PageInDevelopment/Footer/page.content;

    <script src="/OpenForum/PageTemplates/Frameworks/Foundation/js/vendor/jquery.js"></script>
    <script src="/OpenForum/PageTemplates/Frameworks/Foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
