__[Get Action|http://open-forum.onestonesoup.org/OpenForum/Documentation/Reference/UsingWikiActions]__  &source;

----
!!Server Side Javascript for GET method
[{InsertSourceFile fileName="get.sjs"}]