__[Post Action|http://open-forum.onestonesoup.org/OpenForum/Documentation/Reference/UsingWikiActions]__ &source;

----
!!Server Side Javascript for POST method
[{InsertSourceFile fileName="post.sjs"}]